<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>Scrim.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.yummymelon.ScrimHelp</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>org-protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org-protocol</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>scrim</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>scrim</string>
			</array>
		</dict>
	</array>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSAppDataUsageDescription</key>
	<string>This app needs access to your Emacs TCP server file.</string>
</dict>
</plist>
